<footer>
  <div class="container">
    <div class="row">
      <div class="parent pt-5 pb-5">
        <a>
          <img src="../../../assets/logo-footer.png" alt="logo-footer" />
        </a>

        <ul class="info">
          <li><a routerLink="">About Us</a></li>
          <li><a routerLink="">Solutions</a></li>
          <li><a routerLink="">Careers</a></li>
          <li><a routerLink="">Contact US</a></li>
        </ul>
        <ul class="social">
          <li>
            <a href="https://twitter.com/" target="_blank">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span> @2020 Expert Apps, All Rights Reversed </span>
  </div>
</footer>
