<div class="user">
  <span>{{ length }} users</span>
  <button (click)="openDialog()">Create New User</button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="service.dataSource" matSort>
    <!--Id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!--Title Column-->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Body</th>
      <td mat-cell *matCellDef="let element">{{ element.body }}</td>
    </ng-container>
    <!--icons Column-->
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li>
            <a (click)="viewUser()" title="View">
              <fa-icon [icon]="faEye"></fa-icon>
            </a>
          </li>
          <li>
            <a (click)="deleteById(element.id)" title="Delete">
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </a>
          </li>
          <li>
            <a (click)="openDialogEdit(element.id)" title="Edit">
              <fa-icon [icon]="faPencil"></fa-icon>
            </a>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
